.DS_Store
.idea
/vendor
composer.lock
node_modules
package-lock.json

resources/dist/css/app.css
resources/dist/fonts
resources/dist/js/app.js
resources/dist/js/manifest.js
resources/dist/js/vendor.js
resources/dist/js/app.js.LICENSE.txt
resources/dist/js/vendor.js.LICENSE.txt
resources/dist/mix-manifest.json
