includes:
    - phpstan-baseline.neon

parameters:
    level: 3
    paths:
        - src/
        - config/
        - database/
        - resources/
#    ignoreErrors:
#        - '#PHPDoc tag @var#'
#    excludePaths:
#        - ./*/*/FileToBeExcluded.php
#    checkMissingIterableValueType: false
