#notification {
  position: fixed;
  top: 40px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 35%;
  z-index: 1090;

  .alert {
    &:not(.show) {
      display: none;
    }

    .show {
      display: block;
    }
  }
}

.alert {
  color: $white;
  font-weight: $font-weight-bold;
  box-shadow: $box-shadow;
  text-align: center;

  p {
    margin-bottom: 0;
  }
}

.alert-collapse {
  .alert {
    padding: .3rem 1.25rem;
    margin-bottom: 0;
  }
}

body.swal2-toast-shown {
  .swal2-container {
    width: 420px;

    &.swal2-top-end {
      top: 65px !important;
      right: 15px !important;
    }
  }
}

body:not(.swal2-toast-shown) {
  .swal2-container.swal2-backdrop-show.modal-backdrop {
    background: rgba(var(--bs-black-rgb), 0.7);
    padding: 1.75rem;
  }
}

.swal2-popup {
  background-color: $gray-200;
  border: 0;

  .swal2-toast {
    background-color: $gray-100;

    .swal2-icon {
      width: 1.5em;
      min-width: 1.5em;
      height: 1.5em;
      margin: 0;
    }
  }

  .swal2-styled.swal2-confirm {
    @each $color, $value in $theme-colors {
      &.btn-#{$color} {
        background-color: $value;
        box-shadow: var(--bs-btn-box-shadow);
        border: var(--bs-btn-border-color);
      }
    }
  }

  .swal2-styled.swal2-cancel {
    @each $color, $value in $theme-colors {
      &.btn-#{$color} {
        background-color: $value;
        box-shadow: var(--bs-btn-box-shadow);
        border: var(--bs-btn-border-color);
      }
    }
  }

  .swal2-select {
    @extend .form-select;
  }

  .swal2-select {
    width: auto !important;
  }
}
