.sidebar {
  background-color: $sidenav-bg;
  position: fixed;
  top: $page-top;
  bottom: 0;
  width: $page-margin-left;
}

.nav-sidebar {
  overflow-x: hidden;
  overflow-y: scroll;
  table-layout: fixed;
  position: relative;
  display: block;
  height: 100%;
  bottom: 0;
  left: 0;
  right: 0;

  &::-webkit-scrollbar {
    display: none;
  }

  > .nav {
    @include flex-direction(column);
    width: $page-margin-left;
    padding-bottom: 35px;
    padding-right: 13px;
    padding-left: 5px;
  }

  .nav {
    .nav-item {
      width: 100%;
    }

    > li > a {
      display: block;
      font-weight: $font-weight-semibold;

      &:hover,
      &:focus {
        background-color: $sidenav-hover-bg;
        border-radius: $input-border-radius;
      }

      .fa {
        color: $nav-link-color;
      }
    }

    li.active > a,
    .nav li.active > a,
    .nav li > a.active {
      background-color: $sidenav-hover-bg;
      font-weight: $font-weight-bold;
      border-radius: $input-border-radius;
      color: var(--bs-nav-link-hover-color);
    }

    .nav {
      &.show {
        display: block;
      }

      a {
        padding-left: 48px;
        text-transform: none;
        font-weight: $font-weight-semibold;
      }
    }

    .arrow {
      line-height: $sidenav-line-height;
    }

    .fa-fw {
      width: 1.8em;
      text-align: left;
    }
  }

  .has-arrow {
    position: relative;

    &::after {
      position: absolute;
      content: '';
      width: .5em;
      height: .5em;
      border-width: 1px 0 0 1px;
      border-style: solid;
      border-color: initial;
      right: 0.5em;
      -webkit-transform: rotate(-45deg) translate(0, -50%);
      transform: rotate(-45deg) translate(0, -50%);
      -webkit-transform-origin: top;
      transform-origin: top;
      top: 50%;
      transition: all .3s ease-out;
    }
  }

  .active > .has-arrow::after,
  .has-arrow[aria-expanded="true"]::after {
    -webkit-transform: rotate(-135deg) translate(0, -50%);
    transform: rotate(-135deg) translate(0, -50%);
  }
}

@include media-breakpoint-down(sm) {
  .navbar-brand {
    display: none;
  }
  .sidebar {
    width: 100%;

    &:not(.show) {
      height: 0;
    }
  }
  .nav-sidebar {
    display: none;
    position: relative;

    &.show {
      display: block;
    }
  }
}
